sklearn
hmf
swig
fftw
astropy>=2.0.3,!=4.2.1,!=4.0.5
Mako>=1.0.1
scipy>=0.16.0
matplotlib>=2.0.0
numpy>=1.16.0,!=1.19.0,!=2.2.2
pillow
h5py>=3.0.0,!=3.7.0
jinja2
mpld3>=0.3
beautifulsoup4>=4.6.0
cython
lalsuite!=7.2
lscsoft-glue>=1.59.3
igwn-segments
tqdm
gwdatafind>=1.1.3
pycbc
